@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-zinc-100 bg-zinc-700 font-sans;
}
